{
  "name": "{{&projectName}}",
  "version": "{{&projectVersion}}",
  "description": "Node-RED node for {{&nodeName}}",
  "main": "node.js",
  "scripts": {
    "test": "mocha \"test/**/*_spec.js\" --timeout 3000"
  },
  "node-red": {
    "nodes": {
      "{{&nodeName}}": "node.js"
    }
  },
  "homepage": "https://github.com/{{&githubId}}/{{&projectName}}#readme",
    "bugs": {
    "url": "https://github.com/{{&githubId}}/{{&projectName}}/issues"
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/{{&githubId}}/{{&projectName}}.git"
  },
  "keywords": [
    {{#keywords}}
    "{{name}}"{{^last}}, {{/last}}
    {{/keywords}}
  ],
  "dependencies": {
    {{&dependencies}}
  },
  "license": "Apache-2.0"
}
